.card {
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 200px;
  object-fit: contain;
  border-radius: 5px;
}
