#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  object-fit: contain;
}
