.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
